.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user {
  height: 300px;
  width: 300px;
  display: flex;
  border: 2px solid gray;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.15);
  margin: 10px 0;
  border-radius: 5px;
  color: gray;
}

.paginationButtons {
  width: 80%;
  height: 10px;
  list-style: none;
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: larger;
}

.paginationButtons a {
  padding: 10px;
  margin: 2px;
  border-radius: 5px;
  color: black;
  cursor: pointer;
}

.paginationButtons a:hover {
  background-color: rgb(66, 171, 231);
}
.paginationActive a {
  background-color: rgb(66, 171, 231);
}

/* @media screen and (max-width: 767px) {
  .user {
    height: 200px;
    width: 250px;
    display: flex;
    border: 2px solid gray;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.15);
    margin: 10px 0;
    border-radius: 5px;
    color: gray;
  }
} */
